/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato:ital,wght@0,400;0,700;1,400&family=Monoton&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.logo {
  font-size: 60px;
  padding: 70px 0px;
  background-color: rgba(241, 151, 34, 0.816);
  font-family: Monoton;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: caveat;
  font-size: 25px;
  padding: 35px 0px;
  background-color: #f17110;
}
.form button {
  background-color: #5ba4a8;
  height: 35px;
  width: 70px;
  font-size: 15px;
  font-family: serif;
  border-radius: 30px;
}

.form input {
  background-color: #f3c776;
  height: 35px;
  width: 200px;
  padding-left: 20px;
  font-size: 15px;
  font-family: serif;
  border-radius: 30px;
}

.form select {
  background-color: #f3c776;
  height: 35px;
  width: 60px;
  padding-left: 10px;
  font-size: 15px;
  font-family: serif;
  border-radius: 30px;
}

.list {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px 300px;
  grid-template-rows: auto;
  justify-items: start;
  padding: 40px 100px 0px 100px;
  color: bisque;
  background-color: #613619;
  font-size: 20px;
  flex: 1 1 auto;
}

.item {
	display: flex;
	gap:5px;
}

.item input {
  zoom: 1.5;
  padding-top: 10px;
  border: none;
}

.item button {
  background-color: transparent;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  justify-content: center;
  background-color: #613619;
  height: 60px;
  padding: 10px 0px;
}

.buttons button {
  background-color: #f3c776;
  border-radius: 30px;
  width: 120px;
  font-size: 18px;
}

.buttons select {
  background-color: #f3c776;
  border-radius: 30px;
  font-size: 18px;
  padding-left: 30px;
}

.footer {
  font-family: Caveat;
  height: 55px;
  font-size: 25px;
  padding: 15px 0px;
  background-color: #5ba4a8;
}
